<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
    <tr>
        <th data-field="customer_id" data-sortable="true">Customer ID</th>
        <th data-field="status" data-sortable="true">Status</th>
        <th data-field="created_at" data-sortable="true">Created At</th>
        <th data-field="updated_at" data-sortable="true">Updated At</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in queryset %}
        <tr>
            <td>{{ row.customer_id }}</td>
            <td>{{ row.status }}</td>
            <td>{{ row.created_at }}</td>
            <td>{{ row.updated_at }}</td>
            <!-- actions -->
            <td>
                <!-- view audit log -->
                <a href="#" title="view audit log" class="hvr-grow mx-1"
                   onClick="showInfo('{% url "handyhelpers:get_auditlog_entries" "order" row.pk %}', '{{ row.id }}', 'Audit Log: <small><i>{{ row.pk }}</i></small>', 'xl');"
                   role="button" data-bs-toggle="tooltip" data-placement="left">
                    <i class="fa fa-history fa-fw"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
