<table class="table table-condensed table-bordered table-striped" data-toggle="table" data-search="true"
       data-flat="true" data-pagination="true" data-show-pagination-switch="true" data-show-columns="true"
       data-show-export="true" data-reorderable-columns="true" data-resizable="false" data-export-types="['excel','csv','txt','sql']">
    <thead>
    <tr>
        <th data-field="sku" data-sortable="true">SKU</th>
        <th data-field="brand" data-sortable="true">Brand</th>
        <th data-field="description" data-sortable="true">Description</th>
        <th data-field="enabled" data-sortable="true">Enabled</th>
        <th data-field="created_at" data-sortable="true">Created At</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in queryset %}
        <tr>
            <td>{{ row.sku }}</td>
            <td>{{ row.brand }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.enabled }}</td>
            <td>{{ row.created_at }}</td>
            <!-- actions -->
            <td>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
