<!-- data -->
<li class="nav-item dropdown mx-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Data
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'storemgr:list_brands' %}">Brands<span class="text-secondary float-end">&#187</span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'storemgr:list_brands' %}">List</a></li>
                <li><a class="dropdown-item" href="/pygwalker/generic_pyg/storemgr/brand">Analyze</a></li>
              {% comment %} <li><a class="dropdown-item" href="#">Export</a></li> {% endcomment %}
            </ul>
        </li>

        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'storemgr:list_customers' %}">Customers<span class="text-secondary float-end">&#187</span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'storemgr:list_customers' %}">List</a></li>
              <li><a class="dropdown-item" href="/pygwalker/generic_pyg/storemgr/customer">Analyze</a></li>
              {% comment %} <li><a class="dropdown-item" href="#">Export</a></li> {% endcomment %}
            </ul>
        </li>

        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'storemgr:list_manufacturers' %}">Manufacturers<span class="text-secondary float-end">&#187</span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'storemgr:list_manufacturers' %}">List</a></li>
                <li><a class="dropdown-item" href="/pygwalker/generic_pyg/storemgr/manufacturer">Analyze</a></li>
                {% comment %} <li><a class="dropdown-item" href="#">Export</a></li> {% endcomment %}
            </ul>
        </li>

        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'storemgr:list_orders' %}">Orders<span class="text-secondary float-end">&#187</span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'storemgr:list_orders' %}">List</a></li>
                <li><a class="dropdown-item" href="/pygwalker/generic_pyg/storemgr/order">Analyze</a></li>
                {% comment %} <li><a class="dropdown-item" href="#">Export</a></li> {% endcomment %}
            </ul>
          </li>

        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'storemgr:list_products' %}">Products<span class="text-secondary float-end">&#187</span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'storemgr:list_products' %}">List</a></li>
                <li><a class="dropdown-item" href="/pygwalker/generic_pyg/storemgr/product">Analyze</a></li>
                {% comment %} <li><a class="dropdown-item" href="#">Export</a></li> {% endcomment %}
              </ul>
        </li>

    </ul>
</li>
