{% extends base_template|default:"base.htm" %}
{% load static %}

{% block local_head %}
    {% include 'handyhelpers/component/chartjs_components.htm' %}
{% endblock %}

{% block content %}
<section class="animated fadeIn" style="animation-delay: .15s;">
    <header class="m-5">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary font-weight-bold mb-3">Shop<span class="text-secondary">Mate</span> Dashboard</div>
            </div>
        </div>
    </header>
</section>

<div class="container-fluid my-5 animated fadeIn" style="animation-delay: .25s;">
    <div class="row">
        {% for item in counts %}
        <div class="col-sm-12 col-md-3">
            <div class="card d-flex flex-fill mx-2 mb-3 bg-white shadow hvr-grow">
                <a href="{{ item.link }}">
                    <div class="card-body text-secondary">
                        <div class="row">
                            <div class="col-4 text-left text-primary h2 fa-2x">{{ item.icon|safe }}</div>
                            <div class="col-8 text-right text-primary h2">{{ item.count }}</div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3 mb-n3 text-left text-secondary h5">{{ item.title|safe }}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid my-5 animated fadeIn" style="animation-delay: .35s;">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card mx-2 mb-3 bg-white shadow" style="height: 300px;">
                <div class="card-header border-0 bg-white text-center text-secondary font-weight-bold h2">
                    Orders by Brand
                </div>
                <div class="card-body">
                    <canvas id="orders_by_brand"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card mx-2 mb-3 bg-white shadow" style="height: 300px;">
                <div class="card-header border-0 bg-white text-center text-secondary font-weight-bold h2">
                    Orders by Status
                </div>
                <div class="card-body">
                    <canvas id="orders_by_status"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'handyhelpers/report/theme_colors.htm' %}
{% with orders_by_status as chart %}{% include 'handyhelpers/report/chartjs/pie_chart.htm' %}{% endwith %}
{% with orders_by_brand as chart %}{% include 'handyhelpers/report/chartjs/bar_chart.htm' %}{% endwith %}

{% endblock content %}
